@font-face {
  font-family: "iconfont"; /* Project id 3678695 */
  src: url('iconfont.woff2?t=1687926118368') format('woff2'),
       url('iconfont.woff?t=1687926118368') format('woff'),
       url('iconfont.ttf?t=1687926118368') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biyanjing:before {
  content: "\e901";
}

.icon-yanjing:before {
  content: "\e8bf";
}

.icon-yonghu:before {
  content: "\e61b";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-fapiao:before {
  content: "\10116";
}

.icon-pinglun:before {
  content: "\e605";
}

.icon-shouji:before {
  content: "\e606";
}

.icon-guanbi:before {
  content: "\e607";
}

.icon-shouye:before {
  content: "\e608";
}

.icon-shanchu:before {
  content: "\e609";
}

.icon-lishi:before {
  content: "\e60a";
}

.icon-shoucang:before {
  content: "\e60b";
}

.icon-wode:before {
  content: "\e60c";
}

.icon-sousuo:before {
  content: "\e60d";
}

.icon-wenda:before {
  content: "\e60e";
}

.icon-shipin:before {
  content: "\e60f";
}

.icon-gengduo:before {
  content: "\e610";
}

.icon-wuwangluo:before {
  content: "\e611";
}

.icon-yanzhengma:before {
  content: "\e612";
}

.icon-youjiantou:before {
  content: "\e613";
}

.icon-zuojiantou:before {
  content: "\e614";
}

.icon-dianzan2:before {
  content: "\e615";
}

.icon-dianzan:before {
  content: "\e616";
}

.icon-yuedu:before {
  content: "\e617";
}

.icon-fenxiang:before {
  content: "\e618";
}

.icon-zuopin:before {
  content: "\e619";
}

.icon-guzhuangnvsheng:before {
  content: "\e6ed";
}

.icon-jiantou:before {
  content: "\e662";
}

.icon-anquanchaxun:before {
  content: "\e803";
}

.icon-kafei:before {
  content: "\e657";
}

